.inputFieldBox {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.signupForm{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  height: 5%;
  width: 250px;
  height: 95%;
  width: 400px;
  background-color: white;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(146, 163, 184, 1) 100%
  );
  border-radius: 88px;
  padding-bottom: 10px;
}
h1,
h2 {
  justify-content: center;
  margin-top: 0px;
}
h4 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: black;
  border-radius: 20px;
}
.buttonList {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.buttonLog {
  color: #000;
}
.DateBoxcreate_ProfileDateBox{
  margin-top: 15px;
  padding-left: 10px;
  border: 2px solid black;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
}