.passwordBox {
  padding-left: 10px;
  border-style: none;
  width: 85%;
  height: 40px;
  background-color: transparent;
  outline: none;
}
.wrapper {
  border: 2px solid black;
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: transparent;
  border-radius: 20px;
  width: 102%;
  justify-content: center;
  padding-top: auto;
  padding-bottom: auto;
  margin-top: 10px;
  align-items: center;
}
.eyeButton{
 
   cursor: pointer;

}
.wrapper span {
  cursor: pointer;
}
/* Target autofilled inputs in all major browsers */

